@import "fonts.css";
.block-center {
  width: 1270px;
  margin: 0 auto;
}

* {
  font-family: Gerbera, serif;
}

a {
  cursor: pointer;
}


@mixin sliderStyle {
  display: inline-block;
  position: absolute;
  color: #cccccc;
  font-size: 80px;
  cursor: pointer;
  &:hover {
    color: #08cbd7;
  }
}
.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  &__logo {
    display: flex;
    margin-right: 118px;
  }

  &__logoText {
    color: #465ce4;
    font-family: GerberaBlack, serif;
    font-size: 30px;
  }

  &__top {
    display: flex;
    align-items: center;
  }
}
.nav {
  width: 985px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 15px 70px 0;

  &__items {
    display: flex;
    padding: 0;
    margin: 0;
  }
  &__item {
    margin-right: 45px;
    padding-bottom: 2px;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      .submenu {
        display: block;
      }

      > .nav__link {
        display: block;
        border-bottom: solid 3px #08cbd7;
        margin-bottom: 5px;
      }
    }
  }

  &__link {
    margin-bottom: 5px;
    color: #474747;
  }

  &__button {
    border: 3px solid #ababab;
    padding: 10px 60px;
    border-radius: 50px;
    color: black;

    &:hover {
      color: white;
      background: black;
      border: 3px solid black;
    }
    &:first-child {
      margin-right: 20px;
    }
  }
}

.submenu {
  background: black;
  padding: 10px;
  margin-left: 0;
  position: absolute;
  display: none;
  &__item {
    padding-bottom: 5px;
  }
  &__link {
    font-size: 14px;
    color: grey;
    &:hover {
      color: white;
    }
  }
}

.block1 {
  background: url("../images/block1.png") no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  height: 1067px;
  display: flex;
  align-items: center;
  margin-bottom: 175px;

  &__mainBlock {
    margin-left: 410px;
    margin-top: -190px;
  }

  &__title {
    font-family: GerberaBlack, serif;
    font-size: 120px;
    margin: 0 0 0 -240px;
    color: black;
  }
  &__line {
    left: 0;
    position: absolute;
    height: 2px;
    width: 327px;
    color: #5f5e5e;
  }
  &__information {
    font-family: GerberaLight, serif;
    margin-bottom: 40px;
    font-size: 22px;
    color: #5f5e5e;
  }

  &__inputEmail {
    border: 3px solid #cccccc;
    padding: 10px 0 10px 25px;
    border-radius: 50px;
    width: 260px;
    background: none;
  }

  &__link {
    border: 3px solid #08cbd7;
    padding: 10px 0;
    border-radius: 50px;
    background: #08cbd7;
    width: 280px;
    text-align: center;
    color: black;
    font-family: GerberaBlack, serif;
    position: relative;
    right: -20px;
    font-size: 20px;

    &:hover {
      background: black;
      border-color: black;
      color: white;
    }
  }

  &__sendEmail {
    display: flex;
    margin-bottom: 50px;
  }

  &__bottomInformation {
    font-family: GerberaLight, serif;
  }
}

.blockHowItWork {
  margin-bottom: 175px;
  &__line {
    float: left;
    position: relative;
    height: 3px;
    display: inline-block;
    width: 327px;
    color: #5f5e5e;
    margin: 0;
  }

  &__title {
    margin-left: 70px;
    font-size: 72px;
    font-family: GerberaBlack, serif;
  }

  &__blockTitle {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
  }

  &__button {
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
  }

  &__blockButton {
    background: black;
    border-radius: 0 0 10px 10px;
  }

  &__startEarning {
    border: 3px solid #08cbd7;
    padding: 10px 0;
    border-radius: 50px;
    background: #08cbd7;
    width: 345px;
    text-align: center;
    color: black;
    font-family: GerberaBlack, serif;
    position: relative;
    font-size: 20px;

    &:hover {
      background: white;
      border: 3px solid white;
    }
  }

  &__informationTop {
    width: 1040px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
  }

  &__information {
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0 2px 22px 10px #eeeeee;
    box-shadow: 0 2px 22px 10px #eeeeee;
  }

  &__blocksPart {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__text {
    height: 72px;
    margin-bottom: 20px;
  }

  &__icon {
    height: 51px;
    margin-bottom: 35px;
  }

  &__lineNumber {
    position: relative;
    top: -70px;
    z-index: 1;
    width: 845px;
  }

  &__number {
    background: #465ce4;
    color: white;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 3px;
    z-index: 2;
    -webkit-box-shadow: 0 0 0 7px #e9e9e9;
    box-shadow: 0 0 0 7px #e9e9e9;
  }
}

.whatYouGetUsingAdsy {
  background: url("../images/block3.png") no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  height: 1200px;
  padding-top: 135px;
  background-color: #ededed;

  &__line {
    position: relative;
    height: 3px;
    display: inline-block;
    width: 327px;
    color: #5f5e5e;
    left: 90px;
    margin: 50px 0 0;
  }

  &__title {
    font-size: 72px;
    font-family: GerberaBlack, serif;
  }
  &__blockTitle {
    display: flex;
    justify-content: center;
    position: relative;
    left: 135px;
    margin-bottom: 120px;
  }

  &__mainBlock {
    display: flex;
    position: relative;
    right: 135px;
  }

  &__blockLeft {
    margin-right: 90px;
  }

  &__sliderItem {
    &:nth-child(n + 1) {
      padding-bottom: 50px;
      margin-right: 45px;
      margin-bottom: 40px;
    }

    border-bottom: 1px solid #cccccc;
  }

  &__blockSlider {
    display: grid !important;
    grid-template-columns: 351px 351px;
  }

  &__sliderTitle {
    font-size: 18px;
    color: #6b6b6b;
    margin-bottom: 35px;
    font-family: GerberaMedium, serif;
  }

  &__sliderDescription {
    font-size: 16px;
    color: #6b6b6b;
  }

  &__button {
    display: flex;
    height: 150px;
    align-items: center;
  }

  &__startEarning {
    border: 3px solid #08cbd7;
    padding: 10px 0;
    border-radius: 50px;
    background: #08cbd7;
    width: 345px;
    text-align: center;
    color: black;
    font-family: GerberaBlack, serif;
    position: relative;
    font-size: 20px;

    &:hover {
      background: black;
      color: white;
      border: 3px solid black;
    }
  }

  &__blockRight {
    width: 690px;
  }
}

.footer {
  height: 309px;
  background: #1c1c1c;
  display: flex;
  align-items: center;

  &__title {
    margin-bottom: 10px;
    color: white;
  }

  &__mainBlock {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-gap: 95px;
  }

  &__firstLinks {
    display: flex;
    flex-direction: column;
  }

  &__secondLinks {
    display: flex;
    flex-direction: column;
  }

  &__blockLinks {
    display: flex;
    justify-content: space-between;
  }

  &__mainBlockItem {
    border-bottom: 1px solid #343434;
    padding-bottom: 40px;
  }

  &__link {
    color: #585858;
    &:hover {
      color: white;
    }
  }

  &__textRight {
    position: absolute;
    right: 165px;
    font-size: 48px;
    font-family: GerberaMedium, serif;
  }
}

.slick-prev {
  @include sliderStyle;
  left: -55px;
  top: 160px;
}
.slick-next {
  @include sliderStyle;
  right: -35px;
  bottom: 288px;
}
.jquery-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background: rgb(22 27 29 / 70%);
}

.popup {
  padding: 30px 50px;
  width: 724px;
  border-radius: 10px;
  background: #1b1b1b;
  display: none;

  &__title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 25px;
    font-family: GerberaBlack, serif;
    color: #343434;
  }

  &__leftBlock {
    width: 240px;
    margin-right: 63px;
    font-size: 28px;
    line-height: 1.2;
    border-right: 1px solid #343434;
    font-family: GerberaLight, serif;
  }

  &__mainBlock {
    display: flex;
  }

  &__rightBlock {
    display: flex;
    flex-direction: column;
  }

  &__emailInput {
    padding: 13px 80px 13px 30px;
    border-radius: 30px;
    border: 3px solid #272727;
    background: #1b1b1b;
    margin-bottom: 20px;
    color: white;
    &::placeholder {
      color: white;
    }

    &:focus {
      color: white;
    }
  }

  &__linkSignUp {
    color: black;
    display: flex;
    width: 282px;
    height: 56px;
    justify-content: center;
    background: #08cbd7;
    align-items: center;
    font-size: 24px;
    border-radius: 30px;
    font-family: GerberaBlack, serif;

    &:hover {
      background: white;
      color: black;
    }
  }

  &__blockTerms {
    display: flex;
    justify-content: flex-end;
  }

  &__termText {
    width: 320px;
    text-align: center;
  }
  &__termLinks {
    color: #333333;
    text-decoration: underline;

    &:hover {
      color: white;
    }
  }
}

.close-modal {
  display: none;
}

.blockIconOpen {
  display: none;
}